.header {
    padding: 35px 0;
    background: #edf2ec;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: "Inika", serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.menu__icon, .menu, .header__nav__menu {
    display: none;
}

.header__nav__list {
    display: flex;
    gap: 46px;
    font-family: "Inika", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 312%;
    color: #010201;
}

.header__nav__item {
    transition: 0.4s;
}

.header__nav__item:hover {
    color: #e06733;
    transition: 0.4s;
}

@media screen and (max-width: 630px) {
    .header {
        padding: 36px 0;
    }
    .header__nav {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu__icon {
        display: block;
        background: #717171;
        width: 40px;
        height: 2px;
        margin-top: 8px;
    }

    .header__nav__menu {
        display: block;
        position: absolute;
    }

    .header__nav__list {
        flex-direction: column;
        
    }
}